* {
    box-sizing: border-box;
}

:root {
    --select-border: #63c5ea;
    --select-focus: blue;
    --select-arrow: #777;
    --input-border: var(--select-border);
    --input-focus-h: 196;
    --input-focus-s: 76%;
    --input-focus-l: 46%;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100%;
    margin: 0;
    background: #373e4d;
}

img {
    border-radius: 10px;
}

.container {
    position: absolute;
    top:0;
    width: 98%;
}

.blur-bg {
    background-image: url("../images/elaina-darken.png");
    
    /* filter:blur(2px);
    -webkit-filter: blur(2px); */
    
    background-size: cover;
    color: #373e4d;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
    align-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #edfefe;
}

.login-container {
    margin: 0 25vw;
    height: 35vh;
    width: 45vw;
}

.input-form {
    height: 7vh;
}

#logoImg img {
    height: 250px;
}

#welcome {
    text-align: center;
    margin-bottom: 1em;
}

#status-text {
    height: 1vh;
}

label {
    font-size: 0.75rem;
}
/*
input[type=password]{
    margin: 1em;
    box-sizing:border-box;
    border: none;
    border-bottom: 1px solid #63c5ea;
    background: none;
    outline: none;
}
  
input[type=password]:focus{
    border: none;
    border-bottom: 2px solid #63c5ea;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
*/


.custom-input {
    font-family: inherit;
    padding: 0.25em 0.25em;
    background: none;
    border: none;
    border-bottom: 1px solid var(--input-border);
    width: 100%;
    outline: none;
}
  
select{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    margin: 0;
    padding: 0.5em 1em 0 0;
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #63c5ea; */
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background: none;
}

.custom-select{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border-bottom: 1px solid var(--select-border);    
    cursor: pointer;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
}

.custom-select:after{
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select, .custom-select:after {
    grid-area: select;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid var(--select-focus);
}
  
  
svg {
    width: 30px;
    height: 30px;
}
  
svg *{
    width: 100%;
    height: 100%;
}
  
#loginButton{
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-right: 1vw;
    margin-bottom: 1vh;
    border-radius: 5px;
    background-color: #edfefe;
    color: #63c5ea;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
  
#loginButton:hover {
    background-color: #63c5ea;
    color: #edfefe;
}
  
#loginButton:disabled {
    background-color: #edfefe;
    color: #4c566a;
}
  
#selectSession {
    color: #edfefe;
}

footer {
    height: 15vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    color: #edfefe;
    background-color: #63c5ea;
    background: none;
    text-align: center;
    font-weight: 700;
}
/*
footer select {
    margin: 0 0 0 0;
}
*/
footer label {
    margin: 1em 0;
}

footer .flex-container-row{
    align-items:flex-end;
    justify-content: flex-end;
    flex-basis: 82%;
    margin: 0 4vh 2vw 0;
}

@media (max-height: 720px) and (min-height: 600px){

    .login-container {
        height:260px;
    }

    .input-form {
        height: 50px;
    }

    footer {
        height: 100px;
    }

    footer .flex-container-column {
        margin: 0 16px;
    }

    footer select {
        margin: 10px 0 0 0;
        height: 25px;
    }


}

@media (min-width:800px) and (max-width:1267px) {

    .login-container {
        width: 570px;
        margin: 0;
    }

    input, select {
        width: 166px;
    }

    footer .flex-container-column {
        width: 200px;
    }

    
}


@media (max-width: 799px){

    .blur-bg, main, footer{
        visibility: hidden;
    }
}

@media (max-height: 599px){

    .blur-bg, main, footer{
        visibility: hidden;
    }
}